body {
    margin: 0;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, textarea, select {
  font-size: 16px !important;
}

#follower-search::placeholder {
  color: #fff; /* or any color you want */
  opacity: 1;  /* optional: ensures full opacity */
}