@font-face {
  font-family: 'PKMN';
  src: url('../font/PKMN RBYGSC.ttf') format('truetype');
  font-display: swap;
}

body, html, * {
  font-family: 'PKMN', Verdana, Arial, sans-serif !important;
}

body {
    margin: 0;
    overflow: hidden;
}

input, textarea, select {
  font-size: 16px !important;
}

#follower-search::placeholder {
  color: #fff; /* or any color you want */
  opacity: 1;  /* optional: ensures full opacity */
}